<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<IIS 经典模式才配置-->
    <!--<httpHandlers>
      <add path="*.do" type="AdvSite.myHandler.MyFirstHandler" verb="GET,POST"/>
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <!--IIS集成模式的配置-->
    <handlers>
      <!--参数name:可以由程序自己定义，建议取有意义的名字,多个配置的name值不能重复
      参数path:告诉asp.net处理机制，什么样的url才会给 type指定的类型类处理
      参数verb：告诉asp.net处理机制，是get或者post  请求才进行截获处理
       -->
      <add name="process do" path="*.do" type="AdvSite.myHandler.MyFirstHandler"  verb="*"/>
      
    </handlers>
  </system.webServer>
</configuration>
