<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
<!--IIS经典模式下配置过滤器的方式-->
      <!--<httpModules>
        <add name="test" type="过滤器.Filters.MyFirstModule"/>
      </httpModules>-->
      
    </system.web>

  <system.webServer>
    <!--IIS集成模式下配置过滤器的方式-->
    <modules>
      <add name="test" type="过滤器.Filters.MyFirstModule"/>
    </modules>
  </system.webServer>
</configuration>
