<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <!--<system.webServer> 
        <rewrite>
            <rules>
                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^index/([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.aspx?id={R:1}&amp;name={R:2}" />
                </rule>            
            </rules>
        </rewrite>
    </system.webServer>-->
 
  <!--<system.webServer>
    <modules>
      <add name="url rewrite" type="_03利用过滤器实现url重写.UrlRewrite"/>
    </modules>
  </system.webServer>-->
  
</configuration>
