<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NewCRMEntities" connectionString="metadata=res://*/CRM11.csdl|res://*/CRM11.ssdl|res://*/CRM11.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NewCRM;user id=sa;password=oumind123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>