@{
    ViewBag.Title = "角色列表";
}
@using CRM11.UI.Extension
@section headSecion{
    <style type="text/css">
    </style>
    <script src="~/Scripts/jquery.globalHelper.js"></script>
    <script type="text/javascript">
        $(function () {
            $.globalHelper.datagridPara.init("/admin/Role/Index", [@Html.GetSonBtnJs()],
                [[
                { field: 'roleName', title: '角色名称', width: 100 },
                {
                    field: 'Department', title: '所属部门', width: 100, formatter: function (colData) {
                        return colData.depName;
                    }
                },
                {
                    field: 'roleAddTime', title: '创建时间', width: 100, formatter: function (colData) {
                        return $.globalHelper.changeDateFormat(colData);
                    }
                }
            ]]);

            $("#tbList").datagrid($.globalHelper.datagridPara.paras);
        });

        @*根据当前登录用户 Session里 权限集合 的按钮，决定是否显示对应的按钮方法*@
        @if(Html.IsBtnExist("add")){
        <text>
            function add()
            {
                $.globalHelper.showCommonWindow("新增权限","/admin/permission/add",450,560);
            }
        </text>
        }
        @if (Html.IsBtnExist("setRolePer"))
        {
            <text>
        function setRolePer()//设置子权限
        {
            ifSelected(function (perData) {
                $.globalHelper.showCommonWindow("设置【" + perData.roleName + "】权限", "/admin/role/SetRolePer/" + perData.roleId, 350, 580);
            })
        }
        </text>
        }
        @if (Html.IsBtnExist("remove"))
        {
            <text>
            function remove()
            {
            }
            </text>
        }
        @if (Html.IsBtnExist("modify"))
        {
            <text>
            function modify()
            {
                ifSelected(function (selectedRowData) {
                    $.globalHelper.showCommonWindow("修改【" + selectedRowData.perName + "】权限", "/admin/permission/modify/" + selectedRowData.perId, 450, 560);
                })
            }
            </text>
        }

    //统一判断 是否有选中行，如果有，则调用回到函数（func），并传入 选中行的数据
    function ifSelected(func)
    {
        //获取选中行的数据
        var selectedRowData = $("#tbList").datagrid("getSelected");
        if (selectedRowData) {
            if (func && func instanceof Function)
            {
                func(selectedRowData);//调用回调函数，并传入 选中行的数据
            }
        } else {
            $.msgBoxObj.showInfo("请选中要操作的行 ~~~");
        }
    }
    </script>
}
<table id="tbList"></table>